@page
@model Universidad.Pages_Estudiantes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    h1 {
        color: rgb(217, 232, 233); /* Cambia el color del título h1 */
          font-family:'Courier New', Courier, monospace;
    }

    p a {
        color: #15ceb5; /* Cambia el color de los hipervínculos dentro de párrafos */
    }

    table {
        width: 100%;
    }

    th {
        background-color: #0077cc; /* Cambia el color de fondo de las celdas del encabezado */
        color: #fff; /* Cambia el color del texto en el encabezado */
    }

    td {
        color: #d4d4d4; /* Cambia el color del texto en las celdas de datos */
    }

    a {
        color: rgb(34, 238, 228), 0, 204); /* Cambia el color de los hipervínculos */
    }
</style>

<h1>Estudiantes</h1>

<p>
    <a asp-page="Create">Crear nuevo estudiante</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante[0].Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante[0].Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante[0].Fecha_inscripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Estudiante) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_inscripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
