@page
@model Universidad.Pages_Inscripciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    h1 {
        color: rgb(217, 232, 233); /* Cambia el color del título h1 */
          font-family:'Courier New', Courier, monospace;
    }

    p a {
        color: #15ceb5; /* Cambia el color de los hipervínculos dentro de párrafos */
    }

    table {
        width: 100%;
    }

    th {
        background-color: #0077cc; /* Cambia el color de fondo de las celdas del encabezado */
        color: #fff; /* Cambia el color del texto en el encabezado */
    }

    td {
        color: #d4d4d4; /* Cambia el color del texto en las celdas de datos */
    }

    a {
        color: rgb(34, 238, 228), 0, 204); /* Cambia el color de los hipervínculos */
    }
</style>

<h1>Inscripciones</h1>

<p>
    <a asp-page="Create">Crear nueva inscripción</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion[0].Id_curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion[0].Id_estudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inscripcion)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_estudiante)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
